.language-icons {
    margin-top: 2em;
    margin-bottom: 2em;
}

// .prog-icon {
//     height: 6em;
//     transition: height .4s, transform .4s;
// }

// .prog-icon:hover {
//     height: 5.5em;
//     transform: translateY(-2em);
//     transition: height .4s, transform .4s;
// }

 .prog-icon-panel {
     height: 10em;
     text-align: center;
     margin-left: 1em;
     margin-right: 1em;
 }

 // .prog-icon-panel:hover {
 //     background-color: orange;
 // }

.prog-icon-panel {
    text-align: center;
    overflow: hidden;
    padding: 0;
}

.prog-icon-panel figure {
    margin: 0;
    position: relative;
    overflow: hidden;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
}

 .prog-icon-panel figure img {
     display: block;
     position: relative;
     margin-bottom: 0;
     text-align: center;
     transition: transform 0.4s, opacity 0.1s 0.3s;
     max-width: 40%;
     margin: 20% 30%;
     -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
 }

 .prog-icon-panel figcaption {
    background-color: black;
    padding: 1em;
    position: relative;
    margin-top: -1em;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    transform: translateY(175%);
    transition: transform 0.2s, opacity 0.6s;
    -webkit-transform: translateY(175%);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.6s;
 }

 .prog-icon-panel figcaption h4 {
     color: white;
 }

 .prog-icon-panel figure:hover img, .prog-icon-panel figure:hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.6s;
    transition: transform 0.4s, opacity 0.6s;
 }










 .top-bar {
     position: fixed;
     width: 100%;
     z-index: 9999;
 }

.separator {
    height: 64px;
    background-color: orange;
    width: 100%;
}


footer {
    margin-top: 2em;
    min-height: 5em;
    background-color: black;
    color: white;

}

.top-footer {
    height: 3em;
    width: 100%;
    background-color: orange;
}

.bottom-footer {
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer p {
    text-align: right;
    font-size: 0.75em;
    margin: 0;
}


.iframe-content {

    border: none;
    width: 100%;

}


.release-header {
    font-weight: 900;
}

.release-version {
    padding-left: 1em;
    font-size: 0.9em;
}

.version-deprecated {
    color: red;
    font-size: 0.75em;
    margin-left: 1em;
}

.version-deprecated:before {
    content: '<';
}
.version-deprecated:after {
    content: '>';
}

.version-list {
    list-style-type: none;
}

.large-icon {

}

.clear-fix {
    content: ' ';
    width: 100%;
    clear: both;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid rgba(0,0,0,0);
}

.person {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

.person img {
    height: 36px;
    margin-right: 0.5em;
}

.features ul {
    list-style-type: none;
}

.features ul ul {
    font-size: 0.9em;
}

.usage ul {
    list-style-type: none;
}

.usage h5 {
    margin-top: 1.25em;
}

.usage code {
    font-size: 0.85em;
}


.features-table img {
    width: 24px;
}

.features-table td, .features-table th {
    text-align: center;
}

.features-table td:first-child, .features-table th:first-child {
    text-align: left;
}

.wrappers-icon-table img {
    width: 50px;
}

.wrappers-icon-table td, .wrapers-icon-table th {
    text-align: center;
}

.wrappers-icon-table td:first-child, .wrappers-icon-table th:first-child {
    text-align: center;
}

.code {
    padding: 1em 3em;
    background-color: $vapor;
}

.icon-display img {
    height: 64px;
    width: 64px;
    margin: 2em;
}

.icon-display {
    text-align: center;
}

.bundler-team h4 {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
}

.bundler-team img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    clear: both;
}

.person-info {
    text-align: center;

}

.person-links {
    display: table-cell;
    vertical-align: bottom;

}

.person-links ul {

    list-style-type: none;
    text-align: left;
    margin-top: 1em;

}

.person-links li {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
}

.person-credits p {
    text-align: justify;
}